###### Python Pandas Working With XML Tutorials- Part 5

    1.Read XML and get Dataframe
    2.Convert Dataframe to XML

    
What is XML?

    1.XML stands for eXtensible Markup Language
    2.XML is a markup language much like HTML
    3.XML was designed to store and transport data
    4.XML was designed to be self-descriptive
    5.XML is a W3C Recommendation

In [1]:
import pandas as pd
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\rajeev\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\rajeev\anaconda3\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\rajeev\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rajeev\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rajeev\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\rajeev\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [3]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Kunal</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [4]:
pd.read_xml(xml)

      shape  degrees  sides firstname
0    square      360    4.0     Kunal
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [8]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Kunal"/>
  <row shape="circle" degrees="360"/>
  <row shape="triangle" degrees="180" sides="3.0" lastname="Kumar"/>
</data>'''

In [9]:
pd.read_xml(xml)

      shape  degrees  sides firstname lastname
0    square      360    4.0     Kunal     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None    Kumar

In [10]:
pd.read_xml(xml,xpath=".//row")

      shape  degrees  sides firstname lastname
0    square      360    4.0     Kunal     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None    Kumar

In [11]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [16]:
df= pd.read_xml(xml,xpath=".//doc:row",namespaces={"doc": "https://example.com"})

In [17]:
df

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0